*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cornflowerblue;
}

header, form{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    color: white;
    font-size: large;
}

form input, form button{
    padding: 15px;
    background-color: white;
    border: white;
}

form input{
    width: 360px;
    font-size: medium;
}

form button{
    background-color: rgb(235, 163, 30);
    cursor: pointer;
    height: 49px;
}

form button:hover{
    background-color: orchid;
    color: white;
}

#todo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#todo-list, #ongoing-list, #completed-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 150px;
}

#todo-list div, #ongoing-list div, #completed-list div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    height: 30px;
    width: 430px;
    cursor: pointer;
    color: tomato;
}

#todo-list div li, #ongoing-list div li, #completed-list div li{
    list-style-type: none;
    float: left;
    padding: 5px;
}

.ongoingButton-btn, .ongoingCompletedButton-btn, .completedListTrashButton-btn{
    float: right;
    padding: 3px;
    border: none;
    cursor: pointer;
    font-size: 28px;
    background-color: white;
    color: yellowgreen;
}

.ongoingButton-btn:hover{
    color: rgb(216, 62, 211);
}

.ongoingCompletedButton-btn:hover{
    color: red;
}

.completedListTrashButton-btn:hover{
    color: black;
}

#todo-list-header h3, #ongoing-list-header h3, #completed-list-header h3{
    text-align: center;
    padding: 5px;
    color: violet;
}

.fa-check, .fa-trash, .fa-rocket{
    pointer-events: none;
}

@media only screen and (min-width: 320px){
    header{
        color: white;
        font-size: medium;
    }

    form input{
        width: 60%;
        font-size: medium;
        border-radius: 0px;
    }

    form button{
        width: 20%;
        font-size: medium;
        border-radius: 0px;
    }

    #todo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 150px;
    }

    
    #todo-list div, #ongoing-list div, #completed-list div{
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 31px;
        width: 83%;
        cursor: pointer;
        color: tomato;
    }
}

@media only screen and (min-width: 600px){
    header{
        color: white;
        font-size: medium;
    }

    form input{
        width: 50%;
        font-size: medium;
        border-radius: 0px;
    }

    form button{
        width: 15%;
        font-size: medium;
        border-radius: 0px;
    }

    #todo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 150px;
    }

    
    #todo-list div, #ongoing-list div, #completed-list div{
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 31px;
        width: 67%;
        cursor: pointer;
        color: tomato;
        font-size: medium;
    }
}

@media only screen and (min-width: 1000px){
    header{
        color: white;
        font-size: small;
    }

    form input{
        width: 280px;
        font-size: small;
        border-radius: 0px;
        height: 16px;
    }

    form button{
        width: 70px;
        font-size: small;
        height: 46px;
        border-radius: 0px;
    }

    #todo-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 150px;
    }
    
    #todo-list div, #ongoing-list div, #completed-list div{
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 30px;
        width: 360px;
        cursor: pointer;
        color: tomato;
        font-size: 15px;
    }
}

@media only screen and (min-width: 1300px){
    header{
        color: white;
        font-size: medium;
    }

    form input{
        width: 310px;
        font-size: medium;
        height: 20px;
        border-radius: 0px;
    }

    form button{
        width: 70px;
        font-size: medium;
        height: 50px;
        border-radius: 0px;
    }

    #todo-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 150px;
    }
    
    #todo-list div, #ongoing-list div, #completed-list div{
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 31px;
        width: 390px;
        cursor: pointer;
        color: tomato;
        font-size: medium;
    }
}
