* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

header {
    color: white;
    font-size: large;
}

form input, form button {
    padding: 15px;
    border: none;
    height: 55px;
    font-size: medium;
    border-radius: 0px;
}

form input {
    width: 350px;
}

form button {
    background-color: rgb(235, 163, 30);
    cursor: pointer;
    width: 70px;
    text-align: center;
}

form button:hover {
    background-color: orchid;
    color: white;
}

form input:focus{
    outline: none;
}

#reset-btn {
    color: violet;
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px;
    height: 55px;
    cursor: pointer;
    font-family: serif;
    font-size: medium;
    border-radius: 0px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

#todo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#todo-list, #ongoing-list, #completed-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 150px;
}

#todo-list div, #ongoing-list div, #completed-list div {
    color: tomato;
    background-color: white;
    margin: 10px 0px 10px 0px;
    height: 55px;
    width: 420px;
    cursor: pointer;
}

#todo-list div li, #ongoing-list div li, #completed-list div li {
    list-style-type: none;
    float: left;
    font-size: large;
}

.ongoing-btn, .completed-btn, .trash-btn {
    float: right;
    border: none;
    cursor: pointer;
    font-size: xx-large;
    background-color: white;
    color: yellowgreen;
}

.ongoing-btn:hover {
    color: rgb(216, 62, 211);
}

.completed-btn:hover {
    color: red;
}

.trash-btn:hover {
    color: black;
}

#todo-list-header, #ongoing-list-header, #completed-list-header {
    text-align: center;
}

#todo-list-header h3, #ongoing-list-header h3, #completed-list-header h3 {
    color: violet;
}

.fa-check, .fa-trash, .fa-rocket {
    pointer-events: none;
}

@media only screen and (min-width: 320px) {
    header, form {
        min-height: 90px;
    }

    header {
        font-size: x-small;
    }

    form input, form button {
        height: 45px;
        font-size: small;
    }

    form input {
        width: 65%;
    }

    form button {
        width: 25%;
    }

    #reset-btn {
        height: 45px;
        font-size: small;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: column;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 90%;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 15px 0px 2px 10px;
        font-size: small;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 25px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 14px;
        font-size: small;
    }
}

@media only screen and (min-width: 375px) {
    header, form {
        min-height: 90px;
    }

    header {
        font-size: small;
    }

    form input, form button {
        height: 45px;
        font-size: medium;
    }

    form input {
        width: 70%;
    }

    form button {
        width: 20%;
    }

    #reset-btn {
        height: 45px;
        font-size: small;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: column;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 90%;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 14px 0px 0px 10px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 25px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 15px;
        font-size: small;
    }
}

@media only screen and (min-width: 425px) {
    header, form {
        min-height: 90px;
    }

    header {
        font-size: small;
    }

    form input, form button {
        height: 45px;
        font-size: medium;
    }

    form input {
        width: 70%;
    }

    form button {
        width: 15%;
    }

    #reset-btn {
        height: 45px;
        font-size: medium;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: column;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 85%;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 14px 0px 0px 10px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 26px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 12px;
        font-size: medium;
    }
}

@media only screen and (min-width: 600px) {
    header, form {
        min-height: 100px;
    }

    header {
        font-size: small;
    }

    form input, form button {
        height: 45px;
        font-size: medium;
    }

    form input {
        width: 60%;
    }

    form button {
        width: 15%;
    }

    #reset-btn {
        height: 45px;
        font-size: medium;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: column;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 75%;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 14px 0px 0px 10px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 26px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 12px;
        font-size: medium;
    }
}

@media only screen and (min-width: 768px) {
    header, form {
        min-height: 100px;
    }

    header {
        font-size: small;
    }

    form input, form button {
        height: 45px;
        font-size: medium;
    }

    form input {
        width: 300px;
    }

    form button {
        width: 80px;
    }

    #reset-btn {
        height: 45px;
        font-size: medium;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 350px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 14px 0px 0px 10px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 26px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 12px;
        font-size: medium;
    }
}

@media only screen and (min-width: 1024px) {
    header, form {
        min-height: 100px;
    }

    header {
        font-size: medium;
    }

    form input, form button {
        height: 45px;
        font-size: medium;
    }

    form input {
        width: 300px;
    }

    form button {
        width: 80px;
    }

    #reset-btn {
        height: 45px;
        font-size: medium;
    }

    #reset{
        min-height: 100px;
    }

    #todo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 150px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 45px;
        width: 380px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 14px 0px 0px 10px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: 26px;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 12px;
        font-size: medium;
    }   
}

@media only screen and (min-width: 1024px) {
    header, form {
        min-height: 100px;
    }

    header {
        font-size: medium;
    }

    form input, form button {
        height: 50px;
        font-size: medium;
    }

    form input {
        width: 320px;
    }

    form button {
        width: 80px;
    }

    #reset-btn {
        height: 50px;
        font-size: medium;
    }

    #reset{
        min-height: 250px;
    }

    #todo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 50px;
        width: 400px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 16px 0px 0px 15px;
        font-size: medium;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 10px 12px 3px 0px;
        font-size: xx-large;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 15px;
        font-size: medium;
    }   
}

@media only screen and (min-width: 1440px) {
    header, form {
        min-height: 100px;
    }

    header {
        font-size: large;
    }

    form input, form button {
        height: 55px;
        font-size: medium;
    }

    form input {
        width: 350px;
    }

    form button {
        width: 70px;
    }

    #reset-btn {
        height: 55px;
        font-size: medium;
    }

    #reset{
        min-height: 300px;
    }

    #todo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #todo-list, #ongoing-list, #completed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 150px;
    }

    #todo-list div, #ongoing-list div, #completed-list div {
        height: 55px;
        width: 420px;
    }

    #todo-list div li, #ongoing-list div li, #completed-list div li {
        padding: 18px 0px 0px 15px;
        font-size: large;
    }
    
    .ongoing-btn, .completed-btn, .trash-btn {
        padding: 12px 12px 5px 0px;
        font-size: xx-large;
    }
    
    #todo-list-header, #ongoing-list-header, #completed-list-header {
        padding-top: 17px;
    }   
}

